In [380]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)  # This will display all columns

In [381]:
dfc = pd.read_csv('calendar.csv')
dfl = pd.read_csv('listings.csv')
dfr = pd.read_csv('reviews.csv')

# Airbnb Listings Data in Seattle

The following datasets focus on Airbnb listings data in Seattle:

1. **`dfc`**: Calendars Data
   - Lists each listing's daily availability and price between January 2016 and January 2017.


2. **`dfl`**: Detailed Listing Information
   - Includes data on prices, fees, location, amenities, and reviews for each listing.


3. **`dfr`**: Reviews Data
   - Contains detailed information about the reviews given to the listings, including ratings and text reviews.

# Target Research Questions

The following are the three target research questions:

1. What months witnessed the peak of the average listing nightly price in Seattle?
2. What are the top 3 listing neighborhoods in terms of average nightly price in Seattle?
3. What factors are most correlated with predicting the listing nightly price?

# Analysis Plan

- To answer Q1, we'll use the `dfc` dataset.
- To answer Q2 and Q3, we'll use the `dfl` dataset.
- The `dfr` dataset will not be necessary for this analysis, as we have ratings score data per listing in `dfl`; therefore, it will not be needed.

# Step 1: Data Assessment

## 1. dfc

In [382]:
print(dfc.head())
print(dfc.shape)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN
(1393570, 4)

In [384]:
#checking for data types
dfc.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

In [385]:
dfc.describe()

         listing_id
count  1.393570e+06
mean   5.550111e+06
std    2.962274e+06
min    3.335000e+03
25%    3.258213e+06
50%    6.118244e+06
75%    8.035212e+06
max    1.034016e+07

In [386]:
#checking for nulls
dfc.isna().sum()

listing_id         0
date               0
available          0
price         459028
dtype: int64

In [387]:
#comparing to see if the nulls in price is only when it's not available
dfc[dfc['available']=='f'].isna().sum()

listing_id         0
date               0
available          0
price         459028
dtype: int64

In [406]:
#checking for duplicates
dfc.duplicated().sum()

0

### dfc Quality Assessment

- The `dfc` dataset is very clean; however, the data types need to be fixed.
- The null values in the price column are logical, as they indicate that the listing is not available for booking on the given day.
- During data wrangling, these rows will be removed.
- No duplicate rows found.

## 2. dfl

In [393]:
print(dfl.head())
print(dfl.shape)

        id                           listing_url       scrape_id last_scraped  \
0   241032   https://www.airbnb.com/rooms/241032  20160104002432   2016-01-04
1   953595   https://www.airbnb.com/rooms/953595  20160104002432   2016-01-04
2  3308979  https://www.airbnb.com/rooms/3308979  20160104002432   2016-01-04
3  7421966  https://www.airbnb.com/rooms/7421966  20160104002432   2016-01-04
4   278830   https://www.airbnb.com/rooms/278830  20160104002432   2016-01-04

                                  name  \
0         Stylish Queen Anne Apartment
1   Bright & Airy Queen Anne Apartment
2  New Modern House-Amazing water view
3                   Queen Anne Chateau
4       Charming craftsman 3 bdm house

                                             summary  \
0                                                NaN
1  Chemically sensitive? We've removed the irrita...
2  New modern house built in 2013.  Spectacular s...
3  A charming apartment that sits atop Queen Anne...
4  Cozy family craftman house in beautiful neighb...

                                               space  \
0  Make your self at home in this charming one-be...
1  Beautiful, hypoallergenic apartment in an extr...
2  Our house is modern, light and fresh with a wa...
3                                                NaN
4  Cozy family craftman house in beautiful neighb...

                                         description experiences_offered  \
0  Make your self at home in this charming one-be...                none
1  Chemically sensitive? We've removed the irrita...                none
2  New modern house built in 2013.  Spectacular s...                none
3  A charming apartment that sits atop Queen Anne...                none
4  Cozy family craftman house in beautiful neighb...                none

                               neighborhood_overview  \
0                                                NaN
1  Queen Anne is a wonderful, truly functional vi...
2  Upper Queen Anne is a charming neighborhood fu...
3                                                NaN
4  We are in the beautiful neighborhood of Queen ...

                                               notes  \
0                                                NaN
1  What's up with the free pillows?  Our home was...
2  Our house is located just 5 short blocks to To...
3                                                NaN
4                                          Belltown

                                             transit  \
0                                                NaN
1  Convenient bus stops are just down the block, ...
2  A bus stop is just 2 blocks away.   Easy bus a...
3                                                NaN
4  The nearest public transit bus (D Line) is 2 b...

                                       thumbnail_url  \
0                                                NaN
1  https://a0.muscache.com/ac/pictures/14409893/f...
2                                                NaN
3                                                NaN
4                                                NaN

                                          medium_url  \
0                                                NaN
1  https://a0.muscache.com/im/pictures/14409893/f...
2                                                NaN
3                                                NaN
4                                                NaN

                                         picture_url  \
0  https://a1.muscache.com/ac/pictures/67560560/c...
1  https://a0.muscache.com/ac/pictures/14409893/f...
2  https://a2.muscache.com/ac/pictures/b4324e0f-a...
3  https://a0.muscache.com/ac/pictures/94146944/6...
4  https://a1.muscache.com/ac/pictures/6120468/b0...

                                      xl_picture_url   host_id  \
0                                                NaN    956883
1  https://a0.muscache.com/ac/pictures/14409893/f...   5177328
2                                                NaN  16708587
3                                                NaN   9851441
4                                                NaN   1452570

                                     host_url host_name  host_since  \
0    https://www.airbnb.com/users/show/956883     Maija  2011-08-11
1   https://www.airbnb.com/users/show/5177328    Andrea  2013-02-21
2  https://www.airbnb.com/users/show/16708587      Jill  2014-06-12
3   https://www.airbnb.com/users/show/9851441     Emily  2013-11-06
4   https://www.airbnb.com/users/show/1452570     Emily  2011-11-29

                        host_location  \
0  Seattle, Washington, United States
1  Seattle, Washington, United States
2  Seattle, Washington, United States
3  Seattle, Washington, United States
4  Seattle, Washington, United States

                                          host_about  host_response_time  \
0  I am an artist, interior designer, and run a s...  within a few hours
1  Living east coast/left coast/overseas.  Time i...      within an hour
2  i love living in Seattle.  i grew up in the mi...  within a few hours
3                                                NaN                 NaN
4  Hi, I live in Seattle, Washington but I'm orig...      within an hour

  host_response_rate host_acceptance_rate host_is_superhost  \
0                96%                 100%                 f
1                98%                 100%                 t
2                67%                 100%                 f
3                NaN                  NaN                 f
4               100%                  NaN                 f

                                  host_thumbnail_url  \
0  https://a0.muscache.com/ac/users/956883/profil...
1  https://a0.muscache.com/ac/users/5177328/profi...
2  https://a1.muscache.com/ac/users/16708587/prof...
3  https://a2.muscache.com/ac/users/9851441/profi...
4  https://a0.muscache.com/ac/users/1452570/profi...

                                    host_picture_url host_neighbourhood  \
0  https://a0.muscache.com/ac/users/956883/profil...         Queen Anne
1  https://a0.muscache.com/ac/users/5177328/profi...         Queen Anne
2  https://a1.muscache.com/ac/users/16708587/prof...         Queen Anne
3  https://a2.muscache.com/ac/users/9851441/profi...         Queen Anne
4  https://a0.muscache.com/ac/users/1452570/profi...         Queen Anne

   host_listings_count  host_total_listings_count  \
0                  3.0                        3.0
1                  6.0                        6.0
2                  2.0                        2.0
3                  1.0                        1.0
4                  2.0                        2.0

                                  host_verifications host_has_profile_pic  \
0               ['email', 'phone', 'reviews', 'kba']                    t
1  ['email', 'phone', 'facebook', 'linkedin', 're...                    t
2   ['email', 'phone', 'google', 'reviews', 'jumio']                    t
3  ['email', 'phone', 'facebook', 'reviews', 'jum...                    t
4   ['email', 'phone', 'facebook', 'reviews', 'kba']                    t

  host_identity_verified                                             street  \
0                      t      Gilman Dr W, Seattle, WA 98119, United States
1                      t  7th Avenue West, Seattle, WA 98119, United States
2                      t  West Lee Street, Seattle, WA 98119, United States
3                      t  8th Avenue West, Seattle, WA 98119, United States
4                      t       14th Ave W, Seattle, WA 98119, United States

  neighbourhood neighbourhood_cleansed neighbourhood_group_cleansed     city  \
0    Queen Anne        West Queen Anne                   Queen Anne  Seattle
1    Queen Anne        West Queen Anne                   Queen Anne  Seattle
2    Queen Anne        West Queen Anne                   Queen Anne  Seattle
3    Queen Anne        West Queen Anne                   Queen Anne  Seattle
4    Queen Anne        West Queen Anne                   Queen Anne  Seattle

  state zipcode   market smart_location country_code        country  \
0    WA   98119  Seattle    Seattle, WA           US  United States
1    WA   98119  Seattle    Seattle, WA           US  United States
2    WA   98119  Seattle    Seattle, WA           US  United States
3    WA   98119  Seattle    Seattle, WA           US  United States
4    WA   98119  Seattle    Seattle, WA           US  United States

    latitude   longitude is_location_exact property_type        room_type  \
0  47.636289 -122.371025                 t     Apartment  Entire home/apt
1  47.639123 -122.365666                 t     Apartment  Entire home/apt
2  47.629724 -122.369483                 t         House  Entire home/apt
3  47.638473 -122.369279                 t     Apartment  Entire home/apt
4  47.632918 -122.372471                 t         House  Entire home/apt

   accommodates  bathrooms  bedrooms  beds  bed_type  \
0             4        1.0       1.0   1.0  Real Bed
1             4        1.0       1.0   1.0  Real Bed
2            11        4.5       5.0   7.0  Real Bed
3             3        1.0       0.0   2.0  Real Bed
4             6        2.0       3.0   3.0  Real Bed

                                           amenities  square_feet    price  \
0  {TV,"Cable TV",Internet,"Wireless Internet","A...          NaN   $85.00
1  {TV,Internet,"Wireless Internet",Kitchen,"Free...          NaN  $150.00
2  {TV,"Cable TV",Internet,"Wireless Internet","A...          NaN  $975.00
3  {Internet,"Wireless Internet",Kitchen,"Indoor ...          NaN  $100.00
4  {TV,"Cable TV",Internet,"Wireless Internet",Ki...          NaN  $450.00

  weekly_price monthly_price security_deposit cleaning_fee  guests_included  \
0          NaN           NaN              NaN          NaN                2
1    $1,000.00     $3,000.00          $100.00       $40.00                1
2          NaN           NaN        $1,000.00      $300.00               10
3      $650.00     $2,300.00              NaN          NaN                1
4          NaN           NaN          $700.00      $125.00                6

  extra_people  minimum_nights  maximum_nights calendar_updated  \
0        $5.00               1             365      4 weeks ago
1        $0.00               2              90            today
2       $25.00               4              30      5 weeks ago
3        $0.00               1            1125     6 months ago
4       $15.00               1            1125      7 weeks ago

  has_availability  availability_30  availability_60  availability_90  \
0                t               14               41               71
1                t               13               13               16
2                t                1                6               17
3                t                0                0                0
4                t               30               60               90

   availability_365 calendar_last_scraped  number_of_reviews first_review  \
0               346            2016-01-04                207   2011-11-01
1               291            2016-01-04                 43   2013-08-19
2               220            2016-01-04                 20   2014-07-30
3               143            2016-01-04                  0          NaN
4               365            2016-01-04                 38   2012-07-10

  last_review  review_scores_rating  review_scores_accuracy  \
0  2016-01-02                  95.0                    10.0
1  2015-12-29                  96.0                    10.0
2  2015-09-03                  97.0                    10.0
3         NaN                   NaN                     NaN
4  2015-10-24                  92.0                     9.0

   review_scores_cleanliness  review_scores_checkin  \
0                       10.0                   10.0
1                       10.0                   10.0
2                       10.0                   10.0
3                        NaN                    NaN
4                        9.0                   10.0

   review_scores_communication  review_scores_location  review_scores_value  \
0                         10.0                     9.0                 10.0
1                         10.0                    10.0                 10.0
2                         10.0                    10.0                 10.0
3                          NaN                     NaN                  NaN
4                         10.0                     9.0                  9.0

  requires_license  license jurisdiction_names instant_bookable  \
0                f      NaN         WASHINGTON                f
1                f      NaN         WASHINGTON                f
2                f      NaN         WASHINGTON                f
3                f      NaN         WASHINGTON                f
4                f      NaN         WASHINGTON                f

  cancellation_policy require_guest_profile_picture  \
0            moderate                             f
1              strict                             t
2              strict                             f
3            flexible                             f
4              strict                             f

  require_guest_phone_verification  calculated_host_listings_count  \
0                                f                               2
1                                t                               6
2                                f                               2
3                                f                               1
4                                f                               1

   reviews_per_month
0               4.07
1               1.48
2               1.15
3                NaN
4               0.89
(3818, 92)

In [394]:
#checking for data types
dfl.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
                                     ...
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 92, dtype: object

In [395]:
dfl.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,3817.000000,97.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3818.000000,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,1.735394,854.618557,1.672603,2.369303,780.447617,16.786276,36.814825,58.082504,244.772656,22.223415,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,1.139480,671.404893,1.311040,16.305902,1683.589007,12.173637,23.337541,34.063845,126.772526,37.730892,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,1.000000,420.000000,1.000000,1.000000,60.000000,2.000000,13.000000,28.000000,124.000000,2.000000,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,1.000000,750.000000,1.000000,2.000000,1125.000000,20.000000,46.000000,73.000000,308.000000,9.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,2.000000,1200.000000,2.000000,2.000000,1125.000000,30.000000,59.000000,89.000000,360.000000,26.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,15.000000,3000.000000,15.000000,1000.000000,100000.000000,30.000000,60.000000,90.000000,365.000000,474.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

In [407]:
# Too many columns to display, viewing them alone
dfl.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [397]:
#checking for nulls
dfl.isna().sum()

id                                    0
listing_url                           0
scrape_id                             0
last_scraped                          0
name                                  0
                                   ...
cancellation_policy                   0
require_guest_profile_picture         0
require_guest_phone_verification      0
calculated_host_listings_count        0
reviews_per_month                   627
Length: 92, dtype: int64

In [408]:
#creating a separate df to view columns with nulls
na_summary = dfl.isna().sum().reset_index()
na_summary.columns = ['Column', 'Missing Values']
na_summary = na_summary[na_summary['Missing Values'] != 0]
na_summary

                         Column  Missing Values
5                       summary             177
6                         space             569
9         neighborhood_overview            1032
10                        notes            1606
11                      transit             934
12                thumbnail_url             320
13                   medium_url             320
15               xl_picture_url             320
18                    host_name               2
19                   host_since               2
20                host_location               8
21                   host_about             859
22           host_response_time             523
23           host_response_rate             523
24         host_acceptance_rate             773
25            host_is_superhost               2
26           host_thumbnail_url               2
27             host_picture_url               2
28           host_neighbourhood             300
29          host_listings_count               2
30    host_total_listings_count               2
31           host_verifications               2
32         host_has_profile_pic               2
33       host_identity_verified               2
35                neighbourhood             416
40                      zipcode               7
48                property_type               1
51                    bathrooms              16
52                     bedrooms               6
53                         beds               1
56                  square_feet            3721
58                 weekly_price            1809
59                monthly_price            2301
60             security_deposit            1952
61                 cleaning_fee            1030
74                 first_review             627
75                  last_review             627
76         review_scores_rating             647
77       review_scores_accuracy             658
78    review_scores_cleanliness             653
79        review_scores_checkin             658
80  review_scores_communication             651
81       review_scores_location             655
82          review_scores_value             656
84                      license            3818
91            reviews_per_month             627

In [413]:
#creating a separate df to view columns dtypes
pd.set_option('display.max_rows', None)

dtype_summary = dfl.dtypes.reset_index()
dtype_summary.columns = ['Column', 'dtype']
dtype_summary

                              Column    dtype
0                                 id    int64
1                        listing_url   object
2                          scrape_id    int64
3                       last_scraped   object
4                               name   object
5                            summary   object
6                              space   object
7                        description   object
8                experiences_offered   object
9              neighborhood_overview   object
10                             notes   object
11                           transit   object
12                     thumbnail_url   object
13                        medium_url   object
14                       picture_url   object
15                    xl_picture_url   object
16                           host_id    int64
17                          host_url   object
18                         host_name   object
19                        host_since   object
20                     host_location   object
21                        host_about   object
22                host_response_time   object
23                host_response_rate   object
24              host_acceptance_rate   object
25                 host_is_superhost   object
26                host_thumbnail_url   object
27                  host_picture_url   object
28                host_neighbourhood   object
29               host_listings_count  float64
30         host_total_listings_count  float64
31                host_verifications   object
32              host_has_profile_pic   object
33            host_identity_verified   object
34                            street   object
35                     neighbourhood   object
36            neighbourhood_cleansed   object
37      neighbourhood_group_cleansed   object
38                              city   object
39                             state   object
40                           zipcode   object
41                            market   object
42                    smart_location   object
43                      country_code   object
44                           country   object
45                          latitude  float64
46                         longitude  float64
47                 is_location_exact   object
48                     property_type   object
49                         room_type   object
50                      accommodates    int64
51                         bathrooms  float64
52                          bedrooms  float64
53                              beds  float64
54                          bed_type   object
55                         amenities   object
56                       square_feet  float64
57                             price   object
58                      weekly_price   object
59                     monthly_price   object
60                  security_deposit   object
61                      cleaning_fee   object
62                   guests_included    int64
63                      extra_people   object
64                    minimum_nights    int64
65                    maximum_nights    int64
66                  calendar_updated   object
67                  has_availability   object
68                   availability_30    int64
69                   availability_60    int64
70                   availability_90    int64
71                  availability_365    int64
72             calendar_last_scraped   object
73                 number_of_reviews    int64
74                      first_review   object
75                       last_review   object
76              review_scores_rating  float64
77            review_scores_accuracy  float64
78         review_scores_cleanliness  float64
79             review_scores_checkin  float64
80       review_scores_communication  float64
81            review_scores_location  float64
82               review_scores_value  float64
83                  requires_license   object
84                           license  float64
85                jurisdiction_names   object
86                  instant_bookable   object
87               cancellation_policy   object
88     require_guest_profile_picture   object
89  require_guest_phone_verification   object
90    calculated_host_listings_count    int64
91                 reviews_per_month  float64

In [404]:
dfl.duplicated().sum()

0

# dfl Quality Assessment

- The `dfl` dataset has 92 columns, a lot of the columns are duplicates of eachother, and many of them will not provide value to the analysis, therefore they'll be dropped.
- Null values are present in a lot of columns, they'll be dealt with after dropping the unnecessary features first.
- dtypes will need some augmenting, especially for numerical features that are being stores as objects, and some times as floats instead of integers.
- No duplicates.